<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../static/css/testcss.css" type="text/css" rel="stylesheet">
    <link href="../static/css/swup.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div>
        <header class="head">
            <nav class="panel">
                <img class="avatar" src="../static/images/avatar.png">
                <ul class="elements">
                    <a href="/">
                        <li class="item">
                            <span class="on_thepage">
                                Home
                            </span>
                        </li>
                    </a>
                    <a href="../static/pages/test1.html">
                        <li class="item before">
                            <span class="title">
                                Test2
                            </span>
                        </li>
                    </a>
                    <a href="../static/pages/test2.html">
                        <li class="item">
                            <span class="title">
                                Test2
                            </span>
                        </li>
                    </a>
                </ul>
            </nav>
        </header>
    </div>
    <div id="swup" class="transition-fade">
        awdawdawdefqwf
        qwefqwefqwefqwef
    </div>

    <script src="../static/js/swup.min.js"></script>
    <script>
        const swup = new Swup();
    </script>
</body>
<script src="../static/js/scroll.js"></script>
<script src="../static/js/smoot_scroll.js"></script>

</html>